@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');    
/* Comman  1rem=16px*/
*,
*:after,
*:before{
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
}

:active,
:hover,
:focus{
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover{
    text-decoration: none;
}

a:hover{
    color: rgba(168, 44, 72,1)!important;
}

ul,
ol{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/*...Scrollbar..... */
/* width */
::-webkit-scrollbar {
    width: 0.825rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 70, 113, 0.789); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:rgba(168, 44, 72,1); 
 
  }
  /* Custome CSS Design */
  h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: maroon;
  }
  h2{
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 3rem;
    color: maroon;
  }
  h4{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    color: maroon;
    margin-bottom: 0.5rem;
  }
  h5{
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    color: maroon;
    margin-bottom: 0.5rem;
  }
  p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(47, 47, 47);
    /* line-height: 1.75px; */
    letter-spacing: 1px;
  }

/*  */
  .main-btn{
    display: inline-block;
    padding: 0.625rem, 1.875rem;
    line-height: 1.5625rem;
    background-color: rgba(168, 44, 72,1);;
    border: 0.1875rem solid rgba(168, 44, 72,1); ;
    color: white;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0/19%);
    -webkit-transition: all .4 ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.main-btn:hover{
    background-color: transparent;
    color: rgba(168, 44, 72,1);
}
.white-btn{
    display: inline-block;
    padding: 0.625rem, 1.875rem;
    line-height: 1.5625rem;
    background-color:white;;
    border: 0.1875rem solid rgb(251, 251, 251); ;
    color: rgba(168, 44, 72,1);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0/19%);
    -webkit-transition: all .4 ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}
.white-btn:hover{
    background-color: rgba(168, 44, 72,1);
    color: white;
    border:0.1875rem solid rgba(168, 44, 72,1);
}
.onow{
    color: rgba(168, 44, 72,1) ;
}
.onow:hover{
    color: white !important;
}
.wrapper{
    padding-top: 8.25rem;
    padding-bottom: 8.25rem;
}
.text-content{
    width: 70%;
    margin:auto;
}
.counter-section h2,
.testimonal-section h2,
.book-food-text h2{
    color:white
}

/*  */
.navigation-wrap{
    position: fixed;
    left:0;
    width: 100%;
    z-index: 1000;
    -webkit-transition:all .3s ease-out ;
    transition:all .3s ease-out  ;
}
.navigation-wrap .nav-item{
    padding: 0.625rem;
    transition: all 200ms linear;
}

.navbar-toggler:focus{
    outline: unset;
    border:unset;
    box-shadow: none;
}
.nav-link{
    font-size: 00.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    color: rgba(168, 44, 72,1);
    letter-spacing: 1px;
}
.navigation-wrap .main-btn{
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
    margin-top: 0.4rem
}
.navigation-wrap.scroll-on{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    background-color: rgba(255, 255, 255, 0.924);
}

/*  */
.top-banner{
    width: 100%;
    background: url("images/bg/bg-1.jpg") no-repeat center;
    background-size: cover;
    padding: 16.875rem 0 9.375rem;
}
.counter-section{
    margin-top:0.2rem ;
    background-color:  rgba(168, 44, 72,1);
    padding: 2.5rem 0;
}
.counter-section p{
    color: white;
    text-transform: uppercase;
}

/*  */
.about-section{
    background-color: white;
    padding-bottom:50px ;
}
.about-section h2{
    text-align: center;
    margin-bottom: 1.5rem;
}
.about-section.card,
.about-section.card img{
    border-radius: 0.625rem;
}
.about-section .text-secondary{
    padding-left: 2rem;
}
.about-section .food-type{
    padding-top: 3.25rem;
}
.food-type ul li{
    font-size: 1rem;
    color:gray;
    line-height: 32px;
    position: relative;
    margin-left: 30px;
}
.food-type ul li::before{
    position:absolute;
    left:-2.1875rem;
    color:rgba(168, 44, 72,1);
    font-size: 1.25rem;
    font-family: "Font Awesome 5 Free";
    content:'\f00c';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

.story-section{
    width: 100%;
    height: 28.125rem;
    background: url(images/bg/bg-2.jpg) no-repeat center;
    background-size: cover;
    padding-top: 50px;
    text-align: center;
}

/*  */
.explore-food .card{
    border: none;
    background-color: transparent;
    border-radius: 0.9375rem;
}
.explore-food .card img{
    border-radius: 0.9375rem;
    object-fit: cover;
}
.explore-food .card span{
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(168, 44, 72,1);
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid #eee;
}
.explore-food .card span del{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

/* */
.testimonial-section{
    background-color:rgba(168, 44, 72,1); 
}
.testimonial-section .carousel-item{
    margin-top: 3rem;
    padding: 10rem 3.125rem;
    background-color: white;
    border-radius: 0.9375rem;
    text-align: center;
}
.testimonial-section .carousel-item .carousel-caption p{
       font-size: 1.3125rem;
       line-height: 2.0625rem;
       padding: 0 11% 0.325rem;
}
.testimonial-section .carousel-item .carousel-caption img{
    max-width: 5rem; 
    border-radius: 50%;
    padding: 0.3125rem;
}
.testimonial-section h2{
    color: white;
}
.testimonal-section .carousel-indicators{
    bottom: -2.8125rem;
    
}
.carousel-indicators [data-bs-target] {
    background-color:rgba(168, 44, 72,1); 
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 1rem;
    outline: none;
    border: none;
    opacity: 0.6;
   
}

.testimonal-section .carousel-indicators button.active{
    opacity: 1;
    
}

/*  */
.newsletter{
    width: 55%;
    margin: 0 auto;
}

.newsletter .form-control{
    height: 2.225rem;
    padding: 0 1.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    width: 100%;
    border: none;
    border-radius: 0;
    background: transparent;
    border: 0.1875rem solid gray;
    color: black;
}
.newsletter-section{
    padding-top: 0;
}
.newsletter .form-control:hover,
.newsletter .form-control:focus{
    outline:none;
    box-shadow:none;
    border-color: rgba(168, 44, 72,1); 

}

/*  */
.footer{
    background-color: rgba(168, 44, 72,1); ;
}
.footer .footer-link{
    font-size: 1rem;
    color: white;
    padding: 0 1rem;
}
.footer .footer-link:hover{
    color: white !important;
    text-decoration: underline;
}
.footer a i{
    font-size: 1.5rem;
    color: #eee;
    padding: 0 1rem;
}